.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
}

h3 {
    text-align: center;
}

.nearMaxMass {
    color: red;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

.addCargoButton {
    background-color: yellow;
}

.addCargoButton:disabled {
    background-color: white;
}
